<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<h1>hihihi</h1>
<p class="msg" th:text="${msg}"></p>
<form method = "POST" action = "/">
<input type = "text" name="text1" th:value="${value}"/>
<input type="submit" value = "Click"/>
</form>
<p th:text = "${#dates.format(new java.util.Date(),'dd/MMM/yyy HH:mm')}"></p>
<table th:object="${object}">
<tr><th>ID</th><td th:text="*{id}"></td></tr>
<tr><th>NAME</th><td th:text="*{name}"></td></tr>
<tr><th>Mail</th><td th:text="*{value}"></td></tr>

</table>
</body>
</html>