
/**
a:not(.btn), a:link:not(.btn) {
  color:white;
text-decoration: none;
}


}
**/

a:hover:not(.btn), a:hover:link:not(.btn) {
  color:#D59B0A;
text-decoration: none;}

a:active:not(.btn), a:active:link:not(.btn) {
  color:#D59B0A;
text-decoration: none;}

body{
font-family:'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif !important;
}


.nodispy{
display : none;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 15px;
	    background-color: #006EA5;
	z-index: 6;
	color:white;
}

.footerContent{
	padding-top:4px;
	padding-right:3px;

	float:right;
	font-size:3px
}

.menue {
	box-sizing: border-box;
	position: fixed;
	width: 100%;
	height: 40px;
	background-color: #006EA5;
	z-index: 98;
}

.logo {

	width: 125px;
	height: 40px;
	/**background-color: #006EA5;**/
	padding-top: 7px;

}

.logo img {
	width: 100%;
	height: auto;
}