/**
1920x1080
**/

/**----------------menue----------------**/

@btn-facebook-color: #4c66a4;
.btn-facebook {
  .button-variant(lighten(@btn-facebook-color, 50%); @btn-facebook-color; darken(@btn-facebook-color, 20%));
}

.mypaagelink{
	color:white;
	    width: 120px;
	    height:100%;
}
.menueWrappr {

	    padding-left: 30px;
    padding-top: 9px;
    /* padding-bottom: 5px; */
   /*  width: 700px;*/
    height: 100%;
    float: left;
}

.rightMenueWrappr{

		padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
	height: 100%;
	float: right;

}

.td-edit-mypage{
	padding-bottom:5px;
}

.logo-editpage {
	padding-left: 5px;
	position: relative;
	float: left;
}

.logo img{
	width: 100%;
	height: auto;

}
.level{
	float: left;
    color: white;
    padding-right: 5px;
    padding-top: 3px;
        font-size: small;
}

.saveWrapper{
	float:left;
	color:white;
	    font-size: small;
}

.floatRight{
	float:right;
}

.floatLeft{
	float:left;
}

.showLink{
	float: right;
	margin-left:10px;
	margin-top: 4px;
}
.demo-name{
	float: left;
    color: white;
    margin-top: 8px;
    margin-left: 30px;
    font-size: small;
}

.uploadimg {
	position: relative;
	z-index: 3;
	    margin-left: 27px;
    bottom: 2px;

	float: left;
}
.TransitionWrapper{
	position: relative;
    height: 100%;
    margin-left: 10px;
    float: left;

}

.save_to_server{
    margin-left: 10px;
    margin-right: 30px;
}

.pageTransition {
	position: relative;
	z-index: 3;
	height: auto;
	float: left;
	display: inline;
	text-decoration: underline;
	color:white;
	    font-size: small;
	        padding-top: 2px;

}

.backToBefore {
	position: relative;
	z-index: 3;

	margin-left: 5px;
	float: left;
}

.icon-backpage{
	color:#ece2b7;
}
.icon-backpage:hover{
	color:#c3b889;
}

.td-upload-btn{
	padding: 7px 16px 8px 12px;
	background-color:white;
}


.menueWrapprRight{
	float:right;
}

.yourLink{    color: #f7efef;
    text-decoration: underline;
    padding: 3px;}

.ld-login-modal{
	    width: 120px;
	margin: 0;
	padding: 1px;
	color:white;
	}

.ld-login-modalTarget{

    width: 400px;

    background-color: white;
    margin: 1.5em auto;
}


.ld-login-modal-title{
    padding: 5px;}
    .ld-login-modal-header{
    border-bottom: 1px solid rgba(0,0,0,0.05);
    /* font-size: 1.1em; */
    /* padding: 1em; */
    padding: 5px;
        position: relative;
    background: #e0e0e2;
    color: #1f1f1f;
    text-align: center;
    font-weight: bold;
}
.popup-modal-dismiss{
	position: absolute;
    top: 4px;
    right: 15px;

    font-size: large;
}
.ld-login-modal-wrapper{
    padding: 30px;
}
.ld-register{
	display:none;
}
.move-to-register{
	float:right;
	font-size: small;
	    margin-right: 10px;
    margin-top: 5px;

}
.regiuser-ajax{
	margin:5px;

}
.regiuser-ajax img{
	width:100%

}
.with-errors{
		font-size: small;
	color:red;

}
.loading-animation img{

	float:right;

}

.alert-box{
	position:absolute;
	 z-index: 99;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 800px;
    height:50px;
    text-align: center;
}


.prompt-varificcation{
    display: none;
  }


/**-------------------------------**/

/**----------------itemwrapper----------------**/
.leftSideContainer {
	position: fixed;
	padding-top: 15px;
	z-index: 5;
	width: 90px;
	height: 100%;
	top:40px;
	margin: 0;
	border: 1px;
    background-image: linear-gradient(-180deg, #d8e2e6 0%, #c8d6dc 48%, #c2d3da 99%);
}
/**
.dropContentErea {
	position: relative;
	float: left;
	width: 80px;
	height: 100%;
	background-color: green;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
**/
.contentWrapper {
	position: relative;
	float: left;
	padding: 10px;
	width: 100%;
	height: 100%;
}

.tooltipWrapper{
	    margin-left: 17px;
    margin-top: 7px;
}
.popupWrapper{
	    margin-left: 30px;
    margin-top: 23px;
}
.stickyWrapper{
	     margin-left: 15px;
    margin-top: 2px;
}

/**--------------------------------**/
.dragtgt {
	z-index: 1;
	user-select: none;
}
/**--------------------------------**/

/**---------------items----------------**/


.contentbox {
	position: relative;
	float: left;
	width: 100%;
	height: 90px;
	padding-top: 15px;
	    box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.2);
}


.editsticky, .savesticky {
	z-index: 10;
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 2px 5px;
	border-top-right-radius: 1px;
	border-bottom-left-radius: 3px;
	text-align: center;
	cursor: pointer;
	box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.5);
	display: block;
}

.editsticky {
	background: gray;
	color: white;
	opacity: 0;
	transition: opacity .2s ease-in-out;
}

.savesticky {
	display: none;
	background: gray;
	color: white;
}

.boxsticky:hover .editsticky {
	opacity: 1;
}

/**----------------maperea----------------**/

/**--------------------------------**/
.mapEreaContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	/* background-image: linear-gradient( -45deg, #fff 25%, #ffc0cb 25%, #ffc0cb 50%, #fff 50%, #fff 75%, #ffc0cb 75%, #ffc0cb ); */
	/* background-size: 8px 8px; */
}

.mapEreaWrapper {
	width: 100%;
	height: 100%;
	  background-color: #FFF;
    min-height: 418px;
    -webkit-box-shadow: 0 0 13px rgba(4,0,0,.67);
    padding-left: 110px;
     padding-top: 60px;



        background-image: -webkit-linear-gradient( transparent 95%, rgba(10, 10, 10, 0.2) 50%, rgba(24, 25, 25, 0.2)), -webkit-linear-gradient( 0deg, transparent 95%, rgba(4, 4, 4, 0.2) 50%, rgba(6, 6, 6, 0.2) );
    background-size: 20px 20px;
    background-repeat: repeat;
}

.contentTitle{text-align:  center;
    padding:  5px;
    border-bottom: double;}


.maperea {
	position: absolute;
	user-select: none; /* CSS3 */
-moz-user-select: none; /* Firefox */
-webkit-user-select: none; /* Safari、Chromeなど */
-ms-user-select: none; /* IE10 */
	/**

	background-image: url("./../PHOTO/dashbord.png");
	background-size: contain;
	background-repeat: no-repeat;
	**/
}

.maperea img {
	position: relative;
}

.maperea[data-dropzone] {

}

/**--------------------------------**/

/**----------------slidecontent----------------**/
.slideContentContainer {
	display: none;
	width: 300px;
	height: 100%;
	float: right;
	position: relative;
	background-color: white;
	z-index: 99;
}

.slideContentContainer div>header {
	float: left;
	width: 80%;
	height: 85px;
	font: 20px LatoRegular;
	padding: 30px;
	position: relative;
}

.slideContentContainer div>section .slideContHolder {
	float: left;
	width: 100%;
	height: auto;
	margin: 0 0 30px;
}

.slideContentContainer div>section .slideContHolder .FormHolder {
	float: left;
	width: 100%;
	height: auto;
	padding: 0;
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
}

.slideContentContainer div>section .slideContHolder .Form {
	padding: 0 30px;
}

.FormRow {
	width: 100%;
	margin: 0 0 20px;
}

.FormTitle {
	font-family: LatoBold;
	margin: 10px 0;
}

.closeSlide {
	position: absolute;
	top: 29px;
	right: 10px;
	margin-right: 10px;
}

.modal-overlay {
	display: none;
	z-index: 98;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 98;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.55);
}
/**--------------------------------**/
/**--------------------------------**/

/**--------------------------------**/

/**--------------------------------**/



html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
}
/**--------------------------------**/



/**-----loading-animation-white------**/
#floatingCirclesG{
	position:relative;
	width:29px;
	height:29px;
	margin:auto;
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:5px;
	width:5px;
	border-radius:3px;
		-o-border-radius:3px;
		-ms-border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:0.672s;
		-o-animation-duration:0.672s;
		-ms-animation-duration:0.672s;
		-webkit-animation-duration:0.672s;
		-moz-animation-duration:0.672s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:12px;
	animation-delay:0.2495s;
		-o-animation-delay:0.2495s;
		-ms-animation-delay:0.2495s;
		-webkit-animation-delay:0.2495s;
		-moz-animation-delay:0.2495s;
}

#frotateG_02{
	left:3px;
	top:3px;
	animation-delay:0.336s;
		-o-animation-delay:0.336s;
		-ms-animation-delay:0.336s;
		-webkit-animation-delay:0.336s;
		-moz-animation-delay:0.336s;
}

#frotateG_03{
	left:12px;
	top:0;
	animation-delay:0.4225s;
		-o-animation-delay:0.4225s;
		-ms-animation-delay:0.4225s;
		-webkit-animation-delay:0.4225s;
		-moz-animation-delay:0.4225s;
}

#frotateG_04{
	right:3px;
	top:3px;
	animation-delay:0.509s;
		-o-animation-delay:0.509s;
		-ms-animation-delay:0.509s;
		-webkit-animation-delay:0.509s;
		-moz-animation-delay:0.509s;
}

#frotateG_05{
	right:0;
	top:12px;
	animation-delay:0.5955s;
		-o-animation-delay:0.5955s;
		-ms-animation-delay:0.5955s;
		-webkit-animation-delay:0.5955s;
		-moz-animation-delay:0.5955s;
}

#frotateG_06{
	right:3px;
	bottom:3px;
	animation-delay:0.672s;
		-o-animation-delay:0.672s;
		-ms-animation-delay:0.672s;
		-webkit-animation-delay:0.672s;
		-moz-animation-delay:0.672s;
}

#frotateG_07{
	left:12px;
	bottom:0;
	animation-delay:0.7585s;
		-o-animation-delay:0.7585s;
		-ms-animation-delay:0.7585s;
		-webkit-animation-delay:0.7585s;
		-moz-animation-delay:0.7585s;
}

#frotateG_08{
	left:3px;
	bottom:3px;
	animation-delay:0.845s;
		-o-animation-delay:0.845s;
		-ms-animation-delay:0.845s;
		-webkit-animation-delay:0.845s;
		-moz-animation-delay:0.845s;
}



@keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:rgb(0,0,0);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}