
/**div around tooltip **/

._tooltip {
	position: absolute;
	margin: 0 auto;

}

._tooltip img {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
}


._tooltip_size_normal{

	width: 40px;
	height: 40px;
}
._tooltip_size_small{

	width: 25px;
	height: 25px;
}
._tooltip_size_big{

	width: 60px;
	height: 60px;
}


.tooltipIcon_red {
	fill: red;
}
.tooltipIcon_gray {
	fill: gray;
}
.tooltipIcon_blue {
	fill: blue;
}
.tooltipIcon_black {
	fill: black;
}
.tooltipIcon_white {
	fill: white;
}
.tooltipIcon_yellow {
	fill: yellow;
}
.tooltipIcon_green {
	fill: green;
}
.tooltipIcon_pink {
	fill: pink;
}

._popup {
	box-sizing: content-box;
	position: absolute;
	background: transparent;
	cursor: pointer;
}

._popup_size_normal{
	width: 20px;
	height: 20px;

}
._popup_size_small{
	width: 15px;
	height: 15px;
}
._popup_size_big{
	width: 35px;
	height: 35px;

}
._popup_circle_size_big {
	width: 15px;
    height: 15px;
    border: 7px solid;
}
._popup_circle_size_small {
	width: 7px;
	height: 7px;
	border: 3px solid;
}

._popup_circle_size_normal {
	width: 10px;
	height: 10px;
	border: 5px solid;
}

.circle {
	box-sizing: content-box;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	position: absolute;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}



._popup_circleAnimation_size_big{
	height: 60px;
	width:60px;
		border: 13px solid;

}

._popup_circleAnimation_size_normal{
	height: 50px;
	width: 50px;
	border: 10px solid;

}
._popup_circleAnimation_size_small{
	height: 45px;
	width: 45px;
		border: 7px solid;

}


.circleAnimation {
	box-sizing: content-box;
	border: 10px solid;
	background: transparent;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;

	-webkit-animation: introjspulse 3s ease-out;
	-moz-animation: introjspulse 3s ease-out;
	animation: introjspulse 3s ease-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	position: absolute;
	top: -25px;
	left: -25px;
	z-index: 1;
	opacity: 0;
}


._popup_circle_color_red{
	background-color:rgba(216, 60, 60, 0.44);
	border-color:rgba(230, 82, 82, 0.73);
}


._popup_circleAnimation_color_red{
		border-color:rgba(220, 73, 73, 0.51);
}

._popup_circle_color_black{
	background-color:rgba(109, 102, 102, 0.62);
	border-color:rgba(6, 6, 6, 0.63);
}


._popup_circleAnimation_color_black{
		border-color:rgba(80, 80, 80, 0.8);
}

._popup_circle_color_gray{
	background-color:rgba(36, 36, 36, 0.27);
	border-color:rgba(80, 80, 80, 0.24);
}


._popup_circleAnimation_color_gray{
		border-color:rgba(100, 100, 100, 0.36);
}

._popup_circle_color_blue{
	background-color:#62c8e66b;
	border-color:#32b4dadb;
}


._popup_circleAnimation_color_blue{
		border-color:#179cc3c2;
}

._popup_circle_color_white{
	background-color:rgba(236, 225, 225, 0.6);
	border-color:rgba(240, 240, 240, 0.56);
}


._popup_circleAnimation_color_white{
		border-color:rgba(228, 221, 221, 0.84);
}

._popup_circle_color_green{
	background-color:#6fe06fc2;
	border-color:#0ab10ab5;
}


._popup_circleAnimation_color_green{
		border-color:#18bf188c;
}

._popup_circle_color_perplue{
	background-color:rgba(136, 136, 136, 0.24);
	border-color:rgba(60, 60, 60, 0.27);
}


._popup_circleAnimation_color_perplue{
		border-color:rgba(146, 146, 146, 0.36);
}

._popup_circle_color_yellow{
	background-color:rgba(241, 236, 81, 0.6);
	border-color:rgba(253, 228, 64, 0.98);
}


._popup_circleAnimation_color_yellow{
		border-color:rgba(230, 217, 78, 0.69);
}
._popup_circle_color_pink{
	background-color:rgba(136, 136, 136, 0.24);
	border-color:rgba(60, 60, 60, 0.27);
}


._popup_circleAnimation_color_pink{
		border-color:rgba(146, 146, 146, 0.36);
}



@keyframes introjspulse {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }

    25% {
        transform: scale(0);
        opacity: 0.1;
    }

    50% {
        transform: scale(0.1);
        opacity: 0.3;
    }

    75% {

        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 0.0;
    }
}




.boxsticky_color_black {
	position: absolute;
	width: 55px;
    height: 55px;
	min-height: 25px;
	min-width: 25px;
	background: rgba(0, 0, 0, 0.5);
	margin: 0;
}
.boxsticky_color_white {
	position: absolute;
	width: 55px;
    height: 55px;
	min-height: 25px;
	min-width: 25px;

	background: rgba(255, 255, 255, 0.5);
	margin: 0;
}





.textsticky_color_black {
	width: 100%;
	height: 100%;
	padding: 8px;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
	color:white;
		margin: 0;
		box-sizing: border-box;

}

.textsticky_color_white {
	width: 100%;
	height: 100%;
	padding: 8px;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.5);
	color:black;
	margin: 0;
	box-sizing: border-box;

}


.overlaysticky {
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.0);
}

