body {
 background:
        linear-gradient(to bottom, #E1E6EC 0%, #F0F4F7 100%),
        linear-gradient(to bottom, #E1E6EC 0%, #F0F4F7 100%);
    background-blend-mode: normal,color-burn;}

.merginWrapper{


}

.td-show-menue{
	box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: #006EA5;
    z-index: 98;
}


.td-show-logo img{
	    width: 125px;
    height: 100%;
    padding-top: 2px;

}

.td-show-demoname{
    width: 1000px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    margin: auto;
        padding-top: 10px;
    color:white;
}

.ceterDiv{
	 position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.wrapper {
	position: relative;

	    margin-top: 20px;
	}

.main {
	position: relative;

	    box-sizing: border-box;
	    margin:auto;

	width: 100%;
	height: 100%;
	padding-top: 53% 0 0;

	/**width: 1300px;
  height: 700px;
  overflow: hidden;
  position: relative;
  background-color: red;
  margin: 0 auto;**/
}

.main img {
	    box-sizing: border-box;

	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	-ms-user-select: none; /* IE 10+ */
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

.modal-open {
	position: absolute;
	width: 15px;
	height: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #00ff00;
}

.modal-content {
	position: absolute;
	text-align: center;
	    box-sizing: border-box;
	width: 100%;
	top: 0;
	left: 0;
	padding-top: 53% 0 0;
	z-index: 99;
	    margin-top: 20px;

	/**   position: absolute;
 z-index:99;
    width: 90%;
    height: 90%;
  padding-top: 53% 0 0;
     background-color: red;
	    ;**/
}



.modal-content img {
	    box-sizing: border-box;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	-ms-user-select: none; /* IE 10+ */
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

.modal-close {
	color: #00f;
	text-decoration: underline;
}

div[id*="modal-overlay"] {
	    box-sizing: border-box;
	z-index: 2;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
}
.icon{
		position: absolute;
		top: 40%; left: 40%

}