.leftpanel {
	width: 170px;
	height: 100%;
	padding-top: 20px;
	top: 45px;
	float: left;
	position: fixed;
	background-color: rgb(51, 57, 69);
	top: 40px;
}

.logo-mypage {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;
}

.lp-content {
	overflow: hidden;
	margin-left: 10px;
}

.lp-content :hover {
	background-color: #282b32;
}

.lp-link {
	margin: 5px 0 10px 0;
	text-shadow: none;
	color: #cacaca;
}

.td-demolist-table {
	top: 80px;
	position: relative;
	left: 217px;
	width: 1190px;
}

.td-logout {
	width: 140px;
	float: right;
}