<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="./../../css/linkdemo.css" />
<link rel="stylesheet" type="text/css" href="./../../css/default.css" />
<link rel="stylesheet" type="text/css" href="./../../css/commons.css" />
<link rel="icon" href="./../../img/favicon.ico"/>

<link rel="stylesheet" type="text/css"
	href="./../../css/lib/tooltipster.bundle.min.css" />
<link rel="stylesheet" type="text/css" href="./../../css/icon-view.css" />
<!--  <link rel="stylesheet" type="text/css" href="./../../css/lib/hue.css" />-->
<link rel="stylesheet" type="text/css"
	href="./../../css/lib/wickedcss.min.css" />


<title>Tobidemo</title>

</head>
<body>
	<div class = "td-show-menue"><div class="td-show-logo" style = "z-index: 99; padding-left:5px;">
			<a href = "/edit/begin"><img src="./../../img/logo-white.png" /></a>

		</div><div  th:text="${demoname}" class = "td-show-demoname"></div></div>
	<div class="merginWrapper ceterDiv" th:each="dropzone:${dropzoneList}"
		th:if="${#strings.contains('__${dropzone.getDropzone()}__','1.1')}"  th:style="|max-width : 1350px; width:__${dropzone.getWidth()}__px;|">
		<div class="wrapper">
			<div class="main">

				<div id="1.1">
					<img th:src="${dropzone.getBase64Img()}"  style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);"/>

					<div th:each="popup:${popupList}" th:object="${popup}"
						th:if="${#strings.contains('__${popup.getItemid()}__','__${dropzone.getDropzone()}__.')} "
						th:class="|zoomer _popup _popup_size_*{size}|"
						th:attr="data-popuptarget=${popup.getTarget()}"
						th:style="|top: *{top}px; left: *{leftposition}px;|">
						<div
							th:class="|_popup_circle_size_*{size} circle _popup_circle_color_*{color}|"></div>
						<div
							th:class="|circleAnimation _popup_circleAnimation_size_*{size} _popup_circleAnimation_color_*{color}|"></div>
					</div>
					<div th:each="sticky:${stickyList}" th:object="${sticky}"
						th:if="${#strings.contains('__${sticky.getItemid()}__','__${dropzone.getDropzone()}__.')} "
						th:class="|zoomer _sticky boxsticky boxsticky_color_*{color}|"
						th:style="|top: *{top}px; left: *{leftposition}px; width: *{width}px; height: *{height}px;|">
						<div th:text="*{text}" th:class="|textsticky_color_*{color}|"></div>
					</div>

					<div th:each="tooltip:${tooltipList}" th:object="${tooltip}"
						th:if="${#strings.contains('__${tooltip.getItemid()}__','__${dropzone.getDropzone()}__.')} "
						th:class="|wiggle _tooltip _tooltip_size_*{size} |"
						th:title="*{title}"
						th:style="|top: *{top}px; left:*{leftposition}px;|">
						<svg xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
							th:class="|tooltipIcon _tooltip_size_*{size} tooltipIcon_*{color}|"
							x="0px" y="0px" viewBox="0 0 512 512"
							style="enable-background: new 0 0 512 512;" xml:space="preserve"
							width="50px" height="50px">
	<g>
		<path class="tooltipAnimation"
								d="M406,107H166c-8.284,0-15,6.716-15,15s6.716,15,15,15h240c8.284,0,15-6.716,15-15S414.284,107,406,107z" />
	</g>
	<g>
		<path class="tooltipAnimation"
								d="M406,197H166c-8.284,0-15,6.716-15,15s6.716,15,15,15h240c8.284,0,15-6.716,15-15S414.284,197,406,197z" />
	</g>
	<g>
		<path class="tooltipAnimation"
								d="M406,287H166c-8.284,0-15,6.716-15,15s6.716,15,15,15h240c8.284,0,15-6.716,15-15S414.284,287,406,287z" />
	</g>
	<g>
		<path class="tooltipAnimation"
								d="M406,377H166c-8.284,0-15,6.716-15,15s6.716,15,15,15h240c8.284,0,15-6.716,15-15S414.284,377,406,377z" />
	</g>
	<g>
		<path class="tooltipAnimation"
								d="M436,0H106C81.187,0,61,20.187,61,45v62H46c-8.284,0-15,6.716-15,15s6.716,15,15,15h15v60H46c-8.284,0-15,6.716-15,15    s6.716,15,15,15h15v60H46c-8.284,0-15,6.716-15,15s6.716,15,15,15h15v60H46c-8.284,0-15,6.716-15,15s6.716,15,15,15h15v60    c0,24.813,20.187,45,45,45h330c24.813,0,45-20.187,45-45V45C481,20.187,460.813,0,436,0z M451,467c0,8.271-6.729,15-15,15H106    c-8.271,0-15-6.729-15-15v-60h15c8.284,0,15-6.716,15-15s-6.716-15-15-15H91v-60h15c8.284,0,15-6.716,15-15s-6.716-15-15-15H91    v-60h15c8.284,0,15-6.716,15-15s-6.716-15-15-15H91v-60h15c8.284,0,15-6.716,15-15s-6.716-15-15-15H91V45c0-8.271,6.729-15,15-15    h330c8.271,0,15,6.729,15,15V467z" />
	</g>

</svg>
					</div>
				</div>
			</div>


</div>

	</div>


			<!-- モーダルコンテンツ -->
			<div class = "ceterDiv" th:unless="${#strings.contains('__${dropzone.getDropzone()}__','1.1')} "
				th:each="dropzone:${dropzoneList}" th:id="${dropzone.getDropzone()}" th:style="| width:__${dropzone.getWidth()}__px; display: none; |

				">
			<div
				class="modal-content">
				<img th:src="${dropzone.getBase64Img()}"/>

				<div th:each="popup:${popupList}" th:object="${popup}"
					th:if="${#strings.contains('__${popup.getItemid()}__','__${dropzone.getDropzone()}__.')} "
					th:class="|_popup _popup_size_*{size}  zoomer|"
					th:attr="data-popuptarget=${popup.getTarget()}"
					th:style="|top: *{top}px; left: *{leftposition}px;|">
					<div
						th:class="|_popup_circle_size_*{size} circle _popup_circle_color_*{color}|"></div>
					<div
						th:class="|circleAnimation _popup_circleAnimation_size_*{size} _popup_circleAnimation_color_*{color}|"></div>
				</div>
				<div th:each="sticky:${stickyList}" th:object="${sticky}"
					th:if="${#strings.contains('__${sticky.getItemid()}__','__${dropzone.getDropzone()}__.')} "
					th:class="|zoomer _sticky boxsticky boxsticky_color_*{color}|"
					th:style="|top: *{top}px; left: *{leftposition}px; width: *{width}px; height: *{height}px;|">
					<div th:text="*{text}" th:class="|textsticky_color_*{color}|"></div>
				</div>
				<div th:each="tooltip:${tooltipList}" th:object="${tooltip}"
					th:if="${#strings.contains('__${tooltip.getItemid()}__','__${dropzone.getDropzone()}__.')} "
					th:class="|_tooltip _tooltip_size_*{size} wiggle|"
					th:title="*{title}"
					th:style="|top: *{top}px; left:*{leftposition}px;|">
					<svg xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
						th:class="|tooltipIcon _tooltip_size_*{size} tooltipIcon_*{color}|"
						x="0px" y="0px" viewBox="0 0 512 512"
						style="enable-background: new 0 0 512 512;" xml:space="preserve"
						width="50px" height="50px">
	<g>
		<path class="tooltipAnimation"
							d="M406,107H166c-8.284,0-15,6.716-15,15s6.716,15,15,15h240c8.284,0,15-6.716,15-15S414.284,107,406,107z" />
	</g>
	<g>
		<path class="tooltipAnimation"
							d="M406,197H166c-8.284,0-15,6.716-15,15s6.716,15,15,15h240c8.284,0,15-6.716,15-15S414.284,197,406,197z" />
	</g>
	<g>
		<path class="tooltipAnimation"
							d="M406,287H166c-8.284,0-15,6.716-15,15s6.716,15,15,15h240c8.284,0,15-6.716,15-15S414.284,287,406,287z" />
	</g>
	<g>
		<path class="tooltipAnimation"
							d="M406,377H166c-8.284,0-15,6.716-15,15s6.716,15,15,15h240c8.284,0,15-6.716,15-15S414.284,377,406,377z" />
	</g>
	<g>
		<path class="tooltipAnimation"
							d="M436,0H106C81.187,0,61,20.187,61,45v62H46c-8.284,0-15,6.716-15,15s6.716,15,15,15h15v60H46c-8.284,0-15,6.716-15,15    s6.716,15,15,15h15v60H46c-8.284,0-15,6.716-15,15s6.716,15,15,15h15v60H46c-8.284,0-15,6.716-15,15s6.716,15,15,15h15v60    c0,24.813,20.187,45,45,45h330c24.813,0,45-20.187,45-45V45C481,20.187,460.813,0,436,0z M451,467c0,8.271-6.729,15-15,15H106    c-8.271,0-15-6.729-15-15v-60h15c8.284,0,15-6.716,15-15s-6.716-15-15-15H91v-60h15c8.284,0,15-6.716,15-15s-6.716-15-15-15H91    v-60h15c8.284,0,15-6.716,15-15s-6.716-15-15-15H91v-60h15c8.284,0,15-6.716,15-15s-6.716-15-15-15H91V45c0-8.271,6.729-15,15-15    h330c8.271,0,15,6.729,15,15V467z" />
	</g>

</svg>
				</div>
			</div>
			</div>
<script src="./../../js/lib/jquery-3.2.1.min.js"></script>
<script src="./../../js/lib/tooltipster.bundle.min.js"></script>
<script src="./../../js/linkdemo.js"></script>
</body>
<div class="footer">
		<p class="footerContent"></p>
	</div>
</html>
