<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<!-- CSS import -->
<link rel="stylesheet" type="text/css" href="./../../css/default.css" />
<link rel="stylesheet" type="text/css" href="./../../css/mypage.css" />

<link rel="stylesheet" type="text/css" href="./../../css/commons.css" />
<link rel="icon" href="./../../img/favicon.ico"/>

<link rel="stylesheet" type="text/css"
	href="./../../css/lib/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="./../../css/lib/hue.css" />
<link rel="stylesheet" type="text/css"
	href="./../../css/lib/datatables.min.css" />



<title>Tobidemo</title>
</head>
<body>
	<div class="menue">
		<div class="logo logo-mypage">
			<a href = "/edit/begin"><img src="./../../img/logo-white.png" /></a>
		</div>
		<form method="post" class = "td-logout" th:action="@{/logout}">
			<input type="submit" class="btn btn-small btn-primary" value="サインアウト" />
		</form>
	</div>
	<div class="leftpanel">
		<div class="lp-content">
			<a href="/edit/begin" class="lp-link"><i
				class="fas fa-fw fa-outdent"></i>Tobidemo作成</a>
		</div>


		<div class="lp-content"></div>
	</div>


	<div class="td-demolist-table">

		<table id="demo-table" class="table table-bordered">
			<thead>
				<tr>
					<th>名前</th>
					<th>作成日</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="linklist:${Linklist}" th:object="${linklist}">
					<td><a th:href="'/show?id=' + ${linklist.getLinkid()}"
						target="_blank"><div th:text="${linklist.getName()}"></div></a></td>
					<td th:text="${#dates.format(linklist.getTime(),'yyyy年MM月dd日')}"></td>
				</tr>

			</tbody>
		</table>
	</div>
	<div class="footer">
		<p class="footerContent"><a style = "color:white; " href = "https://writer.zohopublic.com/writer/published/62rwta9b88f1a02c9417296de22a71a30553c" target = "_blank">利用規約</a>  Tobidemo All Right Reserved</p>
	</div>
	<script src="./../../js/lib/jquery-3.2.1.min.js"></script>
<script src="./../../js/lib/tether.min.js"></script>
<script src="./../../js/lib/bootstrap.min.js"></script>
<script src="./../../js/lib/datatables.min.js"></script>
<script src="./../../js/mypage.js"></script>
<script src="./../../js/lib/fontawesome-all.min.js"></script>
</body>


</html>